@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 100;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 300;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 400;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 500;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 600;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 700;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 800;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 900;
  src: local('New Kansas'),
    url('../../../../public/fonts/new-kansas/New-Kansas-Black.ttf') format('truetype');
}
