@font-face {
  font-family: "GT Maru";
  font-style: normal;
  font-weight: 300;
  src: local("GT Maru"), url("../../../../public/fonts/gt-maru/GT-Maru-Light.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: oblique;
  font-weight: 300;
  src: local("GT Maru"),
    url("../../../../public/fonts/gt-maru/GT-Maru-Light-Oblique.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: normal;
  font-weight: 400;
  src: local("GT Maru"), url("../../../../public/fonts/gt-maru/GT-Maru-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: oblique;
  font-weight: 400;
  src: local("GT Maru"),
    url("../../../../public/fonts/gt-maru/GT-Maru-Regular-Oblique.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: normal;
  font-weight: 500;
  src: local("GT Maru"), url("../../../../public/fonts/gt-maru/GT-Maru-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: oblique;
  font-weight: 500;
  src: local("GT Maru"),
    url("../../../../public/fonts/gt-maru/GT-Maru-Medium-Oblique.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: normal;
  font-weight: 700;
  src: local("GT Maru"), url("../../../../public/fonts/gt-maru/GT-Maru-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: oblique;
  font-weight: 700;
  src: local("GT Maru"),
    url("../../../../public/fonts/gt-maru/GT-Maru-Bold-Oblique.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: normal;
  font-weight: 900;
  src: local("GT Maru"), url("../../../../public/fonts/gt-maru/GT-Maru-Black.ttf") format("ttf");
}

@font-face {
  font-family: "GT Maru";
  font-style: oblique;
  font-weight: 900;
  src: local("GT Maru"),
    url("../../../../public/fonts/gt-maru/GT-Maru-Black-Oblique.ttf") format("ttf");
}
