@font-face {
  font-family: 'GT Maru';
  font-style: normal;
  font-weight: 300;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Light.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: oblique;
  font-weight: 300;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Light-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: normal;
  font-weight: 400;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: oblique;
  font-weight: 400;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Regular-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: normal;
  font-weight: 500;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: oblique;
  font-weight: 500;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Medium-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: normal;
  font-weight: 700;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: oblique;
  font-weight: 700;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Bold-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: normal;
  font-weight: 900;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Black.woff') format('woff');
}

@font-face {
  font-family: 'GT Maru';
  font-style: oblique;
  font-weight: 900;
  src: local('GT Maru'), url('../../public/fonts/gt-maru/GT-Maru-Black-Oblique.woff') format('woff');
}
