@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 100;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-Thin.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 300;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-Light.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 400;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-Regular.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 500;
  src: local('New Kansas'),
    url('../../public/fonts/new-kansas/New-Kansas-Medium.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 600;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 700;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-Bold.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 800;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'New Kansas';
  font-style: normal;
  font-weight: 900;
  src: local('New Kansas'), url('../../public/fonts/new-kansas/New-Kansas-Black.woff') format('woff');
}
